.head_bar {
    display: grid;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    height: 80px;
    background-color: transparent;
    grid-template-columns: 45% 55%;
    border-radius: 50px;
}
